name: CI

on:
  push:
  schedule:
  - cron: '15 0 * * 5'
  workflow_dispatch:

jobs:
  build:
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest

    steps:
    - name: Get Dockerhub credentials
      uses: hashicorp/vault-action@v2.4.3
      with:
        url: https://vault.jimdo-platform.net
        method: jwt
        secrets: |
          secret/github/dockerhub DOCKER_USER ;
          secret/github/dockerhub DOCKER_PASSWORD ;

    - name: Login to DockerHub registry
      uses: docker/login-action@v2
      with:
        registry: docker.io
        username: ${{ env.DOCKER_USER }}
        password: ${{ env.DOCKER_PASSWORD }}

    - uses: actions/checkout@v3

    - uses: actions/setup-go@v3
      with:
        go-version: '1.17'

    - name: Make all
      run: make
